@use "sass:map";
@import "../../assets/styles/variables.scss";

$headerHeight: 220px;
$menuHeight: 120px;

.header {
  height: $headerHeight;
  background-color: map.get($colors, green);

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .right {
      display: flex;
      justify-content: space-between;

      .menu {
        width: $menuHeight;
        height: $menuHeight;

        svg {
          width: calc($menuHeight - 20%);
          height: calc($menuHeight - 20%);
        }
      }

      a {
        padding: 0 10px;

        &:hover {
          background-color: map.get($colors, dark-grey);
          color: map.get($colors, white);
      }
      }
    }

    a {
      @include fluidFontSize(14px, 24px, 480px, 1280px, 14px);
      text-decoration: none;
      line-height: $headerHeight;
    }
  }
}
  
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: map.get($colors, white);
  min-height: 200px;
  min-width: 200px;
  width: max-content;
  border-radius: 20px;
  padding: 30px;
  padding-top: 20px;
}