@use "sass:map";
@import "../../assets/styles/variables.scss";

$logoHeight: 170px;

.logo{
    @include fluidFontSize(24px, 36px, 480px, 1280px, 18px);
    background-color: grey;
    width: calc($logoHeight - (51px / (637px / $logoHeight)));
}
